.dropdown-container,
.textarea-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Updated alignment to flex-start */
  justify-content: space-around;
  padding-top: 2vh;
}

mat-form-field {
  width: 20vw;
  font-size: 1.5vw;
  padding: 0.5vw;
}

.mat-option {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  font-size: 2vw;
}

.flag {
  font-size: 3vw;
  padding-right: 0.5vw;
  vertical-align: middle;
}

.swap {
  margin-bottom: 2vh;
  width: fit-content;
  height: fit-content;
}

.icon {
  font-size: 4vw;
  height: 4vw;
  width: 4vw;
}

.vertical-divider {
  height: 65vh;
  margin-top: -2vh;
}

.horizontal-divider {
  width: 80vw;
}

.button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.translate-button {
  width: 20vw !important;
  height: 8vh !important;
  margin-top: 8vh;
  font-size: 2vw;
}

.input-container, .translation-container{
    width: 35vw;
    height: 50vh;
    display: flex;
    align-items: start;
    padding-left: 3vw;
}

mat-form-field .textarea{
    width: 100% !important;
    height: 100% !important;
}

.icon-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -10vh;
}

.icon-container .icon{
    font-size: 2.5vw;
    height: 2.5vw;
    width: 2.5vw;
}


.input-icons, .translation-icons{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


.input-icons{
    padding-left: 2vw;
}

.translation-icons{
    padding-left: 20vw;
}