<div class="dropdown-container">
  <mat-form-field>
    <mat-select [(ngModel)]="sourceLanguage">
      <mat-option *ngFor="let lang of languages" [value]="lang.countryCode" >
        <span class="flag">{{lang.flag}}</span>
        {{lang.language}}
      </mat-option>
    </mat-select>
</mat-form-field>

  <button class="swap" mat-icon-button color="primary" (click)="swapLanguages()">
      <mat-icon class="icon">swap_horiz</mat-icon>
  </button>

  <mat-form-field>
      <mat-select [(ngModel)]="targetLanguage">
        <mat-option *ngFor="let lang of languages" [value]="lang.countryCode" >
          <span class="flag">{{lang.flag}}</span>
          {{lang.language}}
        </mat-option>
      </mat-select>
  </mat-form-field>
</div>

<mat-divider class="horizontal-divider"></mat-divider>

<div class="textarea-container">
  <div class="input-container">
    <mat-form-field>
      <input matInput placeholder="Enter text" [(ngModel)]="input">
    </mat-form-field>
    <div class="icon-container"></div>
  </div>
  
  <mat-divider class="vertical-divider" vertical></mat-divider>
  
  <div class="translation-container">
    <mat-form-field>
      <input readonly matInput placeholder="Translation" [(ngModel)]="translation">
    </mat-form-field>
    <div class="icon-container"></div>
  </div>
</div>

<button mat-raised-button color="primary" (click)="translate()">Translate</button>
